*{
	margin : 0;
	padding : 0;
}

body
{
    background-color: grey;
}
.Integrantes{
	width: 70%;
	height: 4150px;
	background-color: #EDE8EC;
	margin:0px auto;

}
.diapositiva{
	width: 100%;
	height: 100%;
	background-color: #EDE8EC;
	margin: 0 auto;
	bottom: 0;
	
}

.inicio{
    display: inline;
	width: 81%;
	background-image: url(fondos.png);
	z-index: 1;
	height: 100%;
}

.inicio h1{
	font-size: 100px;
	text-align: center;
	padding: 50px 50px 50px 50px;
	color: white;
	font-weight: bold;
	font-family: CenturyGothic;
}
.inicio h2{
	font-size: 50px;
	text-align: center;
	padding: 50px 50px 50px 50px;
	color: black;
	font-family:  CenturyGothicN;
	letter-spacing: -2px;
}

.inicio p{
	
	font-size: 20px;
	text-align: justify;
	padding: 10px 300px 10px 300px;
	color: black;
	transition: all 400ms ease;
	

}

header {
    border: 1px solid;
	border-radius: 0.5%;
    margin: 0 auto;
	width: 100%; 
	overflow:hidden; 
	background:#252932;
}

.wrapper {
	width: 100%; 
	max-width:1300px; 
	margin: 10px auto;
	overflow: hidden; 
	top: 0;
}

header .logoimg{
	float: left;
	width: 150px;
	height: 150px;
	margin-right: 20px;
	margin-top: 20px;
}
header .logoimg:hover{
	transform: scale(1.015);
}
header .notranslate {
	color:#f2f2f2;
	font-size:50px;
	line-height:200px;
	float:left;
	font-family: CenturyGothic;
	letter-spacing: -4px;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding: 10px 10px;
	line-height:normal;
	font-size: 17px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-family: CenturyGothic;
	
}

header nav a:hover {
	background-color: transparent;
    border-radius: 15px;
	color: red;
    transform: scale(1.015);
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);



.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: red; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: red; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

.Abajo{
	width: 100%;
	height: 100px;
	background-color: #252932;
}
.Abajo p{
	color:white;
	font-size:15px;
	padding-left: 105px;
	padding-top: 35px;
	font-weight: bold;
	font-family: CenturyGothic;
}
label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: red; 
  border-color: red; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: red; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
	font-size: 80px;
	text-align: center;
	padding: 50px 50px 50px 50px;
	color: white;
	font-weight: bold;
	font-family: CenturyGothic;
}
h2{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: red;
}



h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}



.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}

.formulario{
  font-family: CenturyGothic;
  
}

@font-face {
  font-family: PoiretOne;
  src: url(PoiretOne-Regular.ttf);
}

@font-face {
  font-family: CenturyGothic;
  src: url(GOTHICB.TTF);
}

@font-face {
  font-family: CenturyGothicN;
  src: url(GOTHIC.TTF);
}


.banner{
	width: 100%;
	height: 500px;
	background-image: url(blurFlorida.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
.minidiapositiva h1{
	font-size: 80px;
    color: rgb(255, 255, 255);
}

.minidiapositiva{

	width:60%;
	margin: 0 auto;
	background-color: red;
	opacity: 0.6;
}
.Explic{
	width:100%;
	height: 612px;
}
.cuadrado{
	margin-left: 100px;
	height: 500px;
	width: 600px;
	margin-right: 1px;
	background-color: #252932;
	display:inline-block;
	position: absolute;
}
.Explic h1{
	font-size: 50px;
	text-align: center;
	color: white;
	font-family:  CenturyGothicN;
	letter-spacing: -2px;
}
.Explic h6{
	font-size: 50px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family:  CenturyGothicN;
	letter-spacing: -2px;
}
.separacion {
	margin-top: 1px;
	float: left;
	position: absolute;
	margin-left: 775px;
	margin-right: 1px;
	height: 500px;
	width: 5px;
	background-color: #252932;
}
.cuadradotexto{

	height: 500px;
	width: 600px;
	margin-right: 1px;
	background-color: transparent;
	display:inline-block;
	position: absolute;
	margin-left: 800px;

	position: absolute;
}
.cuadradotextoINT{

	height: 500px;
	width: 600px;
	margin-right: 1px;
	background-color: transparent;
	display:inline-block;
	position: absolute;
	margin-left: 800px;

	position: absolute;
}.cuadradotextoINT h1 {
	font-size: 33px;
	text-align: left;
	color: black;
	font-family:  CenturyGothicN;
	
}
.cuadradotexto h1 {
	font-size: 33px;
	text-align: left;
	color: black;
	font-family:  CenturyGothicN;
	
}

.separacionHor {
	margin-top: 1px;
	float: left;
	position: absolute;
	margin-left: 100px;
	margin-right: 1px;
	height: 5px;
	width: 1350px;
	background-color: #252932;
	
}
.cajita1{
	
	height: 500px;
	width: 300px;
	margin-right: 1px;
	background-color: transparent;
	display:inline-block;
	position: absolute;
	margin-left: 100px;
	background-color: #252932;
}
.cajita1 h1{
	font-size: 33px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	padding-bottom: 1px;
}
.cajita1 h2{
	font-size: 12px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	letter-spacing: 1px;
}
.cajita2{
	
	height: 500px;
	width: 300px;
	margin-right: 1px;
	background-color: transparent;
	display:inline-block;
	position: absolute;
	margin-left: 450px;
	background-color: #252932;
}
.cajita2 h1{
	font-size: 33px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	padding-bottom: 1px;
}
.cajita2 h2{
	font-size: 12px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	letter-spacing: 1px;
}
.cajita3{
	
	height: 500px;
	width: 300px;
	margin-right: 1px;
	background-color: transparent;
	display:inline-block;
	position: absolute;
	margin-left: 800px;
	background-color: #252932;
}
.cajita3 h1{
	font-size: 33px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	padding-bottom: 1px;
}
.cajita3 h2{
	font-size: 12px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	letter-spacing: 1px;
}
.cajita4{
	
	height: 500px;
	width: 300px;
	margin-right: 1px;
	background-color: transparent;
	display:inline-block;
	position: absolute;
	margin-left: 1150px;
	background-color: #252932;
}
.cajita4 h1{
	font-size: 33px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	padding-bottom: 1px;
}
.cajita4 h2{
	font-size: 12px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	letter-spacing: 1px;
}
.TarjetaINT{
	display:inline-block;
	
	height: 250px;
	width: 600px;
	margin-left: 100px;
	margin-right: 1px;
	
	background-color: #252932;
	display:inline-block;
}


.TarjetaINT h1{
	font-size: 20px;
	text-align: left;
	color: white;
	padding-bottom: 1px;
	font-family:  CenturyGothicN;
	letter-spacing: 1px;
	display:inline-block;
	margin-top: 1px;
	padding-top: 10px;
}
.TarjetaINT h2{
	padding-top: 0%;
	font-size: 16px;
	text-align: left;
	color: white;
	font-family:  CenturyGothicN;
	letter-spacing: 1px;
	display:inline-block;
	max-width: 45%;
	
}
.imgINT{
	float: left;
	margin-left:20px ;
	margin-right:1px ;
	margin-top:20px ;
}
.imgINTgrupal{
	margin-left: 18%;
	
	margin-right:1px ;
	margin-top:100px ;
}